@font-face {
    font-family: 'Gilroy-Medium';
    font-style: Medium;
    font-weight: 500;
    src: url('./../fonts/Gilroy-Medium.woff2') format("woff");
}
@font-face {
    font-family: 'Gilroy-Bold';
    font-style: Bold;
    font-weight: 700;
    src: url('./../fonts/Gilroy-Bold.woff2') format("woff");
}

body {
    width: 1440px;
    font-family: 'Gilroy';
    font-weight: 500;
    background: #fff;
    color: #070707;
    margin: 0 auto;
}

/* Main-Container */
.main__container {
    width: 936px;
    margin: 33px auto 123px;
}

/* Header */
.header {
    position: absolute;
    top: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 936px;
    height: 15px;
    z-index: 10;
    margin: 0 252px 41px;
    margin-top: 0;
    /* margin-bottom: 41px; */
}
.header__link {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
}
.header__link:hover {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

/* Divider-Line */
.divider-line {
    width: 936px;
    border: 1px solid #828282;
    margin: 88px auto 40px;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    height: 621px;
}
.intro__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 936px;
    height: 105px;
    margin: 0 auto 28px;
}
.intro__title {
    font-family: 'Gilroy-Bold';
    font-size: 47px;
    line-height: 48px;
    color: #070707;
}
.intro__personal {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}
.language-toggle {
    width: 68px;
    height: 17px;
    transform: rotate(-90deg);
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    cursor: pointer;
    margin: 0 -24px 18.5px;
}
.language-toggle>span {
    color: #070707;
}
.intro__pic {
    width: 936px;
    margin: 0 auto 104px;
}

/*About */
.about {
    display: flex;
    width: 1440px;
    height: 506px;
    background: #F6F6F6;
}
.about__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 485px;
    height: 279px;
    margin: 120px auto 107px;
}
.about__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}
.about__paragraph {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

/* SKills */
.skills {
    display: flex;
    flex-direction: column;
    height: 610px;
}
.skills__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin: 91px auto 69px;
}
.skills__comment {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin: 0 auto 82px;
}
.skills__software-cards {
    display: flex;
    justify-content: space-between;
    gap: 90.25px;
    margin: 0 auto 111px;
}
.software-card {
    display: flex;
    flex-direction: column;
    width: 166px;
    height: 206px;
}
.software-card-icon {
    width: 88px;
    height: 88px;
    margin: 0 auto 24px;
}
.software-name {
    width: 89px;
    height: 34px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin: 0 48px;
}
.software-skills-rating {
    width: 166px;
    height: 26px;
    margin-top: 40px;
}

/* Portfolio */
.portfolio {
    display: flex;
    flex-direction: column;
    min-height: 2253px;
    background: #F6F6F6;
}
.portfolio__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin: 113px auto 47px;
}
.portfolio__container {
    display: flex;
    flex-direction: column;
    width: 936px;
    min-height: 1953px;
    margin: 0 auto 96px;
}
.portfolio__card {
    margin-bottom: 45px;
}
.portfolio__link {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-bottom: 99px;
}
.portfolio__link:last-child {
    margin-bottom: 0;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    height: 622px;
}
.footer__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin: 114px auto 20px;
}
.footer__text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin: 0 auto 30px;
}
.footer__button {
    width: 180px;
    height: 42px;
    border-radius: 50px;
    background: #070707;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 86px;
}
.footer__button:hover {
    background: #FFFFFF;
    color: #070707;
    border: 1px solid #070707;
}
.footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 342px;
    height: 41px;
    margin: 0 auto 45px;
}
.socials__icon:hover {
    cursor: pointer;
}
.footer__span {
    width: 243px;
    height: 34px;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin: 0 auto 123px;
}